<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <div class="footer-logo">
                    <img src="{{ url_for('static', filename='images/mainIcon.png') }}" alt="Hyeok 로고">
                </div>
                <p class="copyright">© 2025 Hyeok Crawler. All Rights Reserved.</p>
            </div>
            
            <div class="footer-links">
                <div class="link-group">
                    <h4>카테고리</h4>
                    <ul>
                        <li><a href="#" data-category="politics">정치</a></li>
                        <li><a href="#" data-category="sports">스포츠</a></li>
                        <li><a href="#" data-category="economy">경제</a></li>
                    </ul>
                </div>
                
                <div class="link-group">
                    <h4>정보</h4>
                    <ul>
                        <li><a href="#">서비스 소개</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">이용약관</a></li>
                    </ul>
                </div>
                
                <div class="link-group">
                    <h4>연락처</h4>
                    <ul>
                        <li><a href="mailto:contact@shinhyeok.com">contact@shinhyeok.com</a></li>
                        <li><a href="https://github.com/Kimsunghyuck" target="_blank">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
